@use '../../../../styles/variables'

.menu
  padding: 1rem

  display: flex
  align-items: center
  flex-direction: column
  gap: 1rem

  border-right: .1rem solid variables.$border

  a
    width: 100%
    height: 5rem

    padding: 1rem

    display: flex
    align-items: center
    justify-content: center

    font-size: 1.6rem
    font-weight: 600

    transition: .3s all ease-out

    background-color: variables.$link-background

    &:hover
      background-color: variables.$link-hover

  .active
    color: variables.$link-text-active
    background-color: variables.$link-active

    &:hover
      background-color: variables.$link-active
