$font-primary: 'Montserrat', sans-serif

$background: #f8f9fa
$border: #6b7d8f1f
$text: #101010

$input-background: #fcfcfc
$input-border: #8a919945
$input-placeholder: #5c6166

// $button-color:
// $button-background:
// $button-hover:

$link-color: #101010
$link-background: transparent
$link-hover: #8a919933
$link-active: #ffaa33
