.alert
  position: absolute
  right: 1rem

  width: 28rem
  height: 5rem

  display: flex
  align-items: center
  justify-content: flex-start
  gap: 1rem

  text-transform: none

  padding: 1rem 2rem

.error
  background-color: tomato

.sucess
  background-color: green
